.DS_Store
.ipynb_checkpoints
node_modules
/bazel-bin
/bazel-ci_build-cache
/bazel-genfiles
/bazel-out
/bazel-tensorflow
/bazel-testlogs
/bazel-tf
/tensorflow/contrib/cmake/build
/third_party/py/numpy/numpy_include
/tools/bazel.rc
/tools/python_bin_path.sh
/util/python/python_include
/util/python/python_lib
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
*.pb.h
*.pb.cc
tensorflow/cc/ops/*_ops.h
tensorflow/cc/ops/*_ops.cc
*.pb_text.h
*.pb_text-impl.h
*.pb_text.cc
*~
*.orig
*.rej
gen_*.py
*_pb2.py
google/
tensorflow/python/pywrap_tensorflow.py
tensorflow/python/tensorflow_wrap.cxx
tensorflow/python/tf_python.py
tensorflow/cc/ops/no_op.cc
tensorflow/cc/ops/no_op.h
